<!-- This is a patient page -->
<div class="video-wrapper">
 <div class="videoCall">
   <video class="remoteVideo" id="remoteVideo" autoplay></video>
   <div class="controls" *ngIf="callActive" >
  <button (click)="toggleMic()">
    {{ micOn ? 'Mute Mic' : 'Unmute Mic' }}
  </button>
  <button (click)="endCall()">End Call</button>
</div>
 </div>
 <div class="doctorDetails">
  <h1>Doctor details</h1>
  <h3>{{doctorData.doctorName}}</h3>
  <h3>{{doctorData.specialization}}</h3>
  <h3>{{doctorData.experience}}</h3>
 </div>
 
</div>
 <video class="localVideo" id="localVideo" autoplay muted></video>


