<footer class="footer">

  <div class="F-container">
    <h2 class="lets-connect">Let’s Connect!</h2>
    <p>Professional Care at your fingertips</p>
    <div class="join-main">
      <div class="join-container">
        <input type="email" placeholder="Type your mail id here" class="email-input" />
        <button class="join-button">Join</button>
      </div>
    </div>
  </div>

  <div class="social-icons">
    <a href="https://facebook.com" class="icon facebook" target="_blank">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://x.com" class="icon twitter" target="_blank">
      <i class="fab fa-x-twitter"></i>
    </a>
    <a href="https://linkedin.com" class="icon linkedin" target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>
    <a href="https://wa.me/1234567890" class="icon whatsapp" target="_blank">
      <i class="fab fa-whatsapp"></i>
    </a>
  </div>


</footer>
